@media (max-width: 1025px) and (min-width: 764px) {
  nav {
    display: flex;
    justify-content: space-between;
  }
  ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}

main>div{
    display: flex;
    div{
    border: 1px solid black;
    min-width: 100px;
    height: 100px;
    background-color: blue;
    flex: 1;
    /* flex-basis:200px ; */
    }
    div:nth-child(2){
    flex-grow: 2;
    }
}

